#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*/bin/*.exe
*/bin/*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.metaproj
*.metaproj.tmp
AssemblyTitle.cs

# vi temp files
*.swp

#custom
.idea
AssemblyVersion.cs
Nuget.Deploy/
_UpgradeReport_Files*/
UpgradeLog*
logs/
tmp/
packages/
shelf/
.sass-cache/

node_modules
*.ReSharper
*.vsp
*.psess
*.tmp.cmd
*.min
Backup/
.vs/